<p id="notice"><%= notice %></p>
<div class = "row  border-bottom white-bg dashboard-header">
	<div>
		<h2>Create User</h2>
		<%= form_for(@user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
			<%= render(:partial => "form", :locals => {:f => f}) %>	
			<div>
				<%= f.submit "Submit", class: "btn btn-primary"%>
			</div>
		<% end %>
	</div>
	
	<div>
	<%= link_to 'Back', users_path , class: "btn btn-primary"%>
	</div>
</div>
