<p id="notice"><%= notice %></p>
<div class="container-fluid white-bg">

<p>COMMENTS</p>
<p><%=@order.sale%></p>

<p>
<strong>File #1</strong>
<% if @order.file1? %> 
<span class = "breakspan"><%= File.basename(@order.file1_url) %></span>
<%=link_to 'Download file', @order.file1.url, class: "btn btn-primary" %>
<%end%>
</p>

<p>

<strong>File #2</strong>
<% if @order.file2? %> 
<span class = "breakspan"><%= File.basename(@order.file2_url) %></span>
<%=link_to 'Download file', @order.file2.url, class: "btn btn-primary" %>
<%end%>
</p>

<p>

<strong>File #3</strong>
<% if @order.file3? %> 
<span class = "breakspan"><%= File.basename(@order.file3_url) %></span>
<%=link_to 'Download file', @order.file3.url, class: "btn btn-primary" %>
<%end%>
</p>

<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary fixed-width" %> |
<%= link_to 'Back', orders_path, class: "btn btn-primary fixed-width" %>
</div>
